/*------------------------------------------------------------------------------------------------
	Pagewizard Color Variables - Plugin Defaults

	Override: Activate patch file site/patches/css/kirby-pagewizard/_01-colors.css
------------------------------------------------------------------------------------------------*/

:root {

/*------------------------------------------------------------------------------------------------
	Default Colors
------------------------------------------------------------------------------------------------*/
	--pw-color-body-background: #FFFFFF;

	/* Element Colors */
	--pw-color-heading: #262626;
	--pw-color-tagline: #1D548B;
	--pw-color-text: #262626;
	--pw-color-caption: #6B7280;
	--pw-color-quote: #262626;
	--pw-color-cite: #6B7280;
	--pw-color-breadcrumb: #6B7280;
	--pw-color-link: #1D548B;

	/* Block Colors */
	--pw-color-block-background: #c3cd9d;

	/* Media Colors */
	--pw-color-image-letterbox: #262626;
	--pw-color-pagination-bullet: #000000;
	--pw-color-pagination-bullet-active: #333333;
	--pw-color-zoom-icon-background: rgba(0, 0, 0, 0.7);
	--pw-color-lightbox-background: rgba(0, 0, 0, 0.9);
	--pw-color-lightbox-caption: rgba(255, 255, 255, 0.8);
}

/*------------------------------------------------------------------------------------------------
	Variant Color Overrides
------------------------------------------------------------------------------------------------*/
section[data-style="variant"] {

	/* Element Colors */
	--pw-color-heading: #FFFFFF;
	--pw-color-tagline: #8CBAE7;
	--pw-color-text: #FFFFFF;
	--pw-color-caption: #B0C4DE;
	--pw-color-quote: #FFFFFF;
	--pw-color-cite: #B0C4DE;
	--pw-color-breadcrumb: #B0C4DE;
	--pw-color-link: #8CBAE7;

	/* Block Colors */
	--pw-color-block-background: #1D548B;

	/* Media Colors */
	--pw-color-pagination-bullet:  rgba(255, 255, 255, 0.8);
	--pw-color-pagination-bullet-active: #FFFFFF;
}

/*------------------------------------------------------------------------------------------------
	Button Colors
------------------------------------------------------------------------------------------------*/
:root {
	--pw-color-button-text: #FFFFFF;
	--pw-color-button-background: #1D548B;
	--pw-color-button-border: transparent;
	--pw-color-button-text-hover: #FFFFFF;
	--pw-color-button-background-hover: #2A6FAE;
	--pw-color-button-border-hover: transparent;
	--pw-color-button-text-active: #FFFFFF;
	--pw-color-button-background-active: #164073;
	--pw-color-button-border-active: transparent;
}

/*------------------------------------------------------------------------------------------------
	Variant Button Colors
	Applies to variant theme AND custom theme with variant button style
------------------------------------------------------------------------------------------------*/
section[data-style="variant"],
section[data-style="custom"][data-button-style="variant"] {

	/* Button Colors */
	--pw-color-button-text: #262626;
	--pw-color-button-background: #FFFFFF;
	--pw-color-button-border: transparent;
	--pw-color-button-text-hover: #262626;
	--pw-color-button-background-hover: #E6E6E6;
	--pw-color-button-border-hover: transparent;
	--pw-color-button-text-active: #262626;
	--pw-color-button-background-active: #CCCCCC;
	--pw-color-button-border-active: transparent;
}


