/*------------------------------------------------------------------------------------------------
	Header Variables
------------------------------------------------------------------------------------------------*/
:root {

	/* Sticky */
	--header-sticky-nav-height: 65px;

	/* Desktop */
	--header-desktop-nav-height: 100px;
	--header-desktop-nav-postion: end; /* start, center, end */
	--header-desktop-textcolor: #101828;
	--header-desktop-bgcolor: white /* #00BBFF */;

	--header-flyout-textcolor: #101828;
	--header-flyout-bgcolor: white /* #ECECEC */;
	--header-flyout-bordercolor: #00000025;

	/* Tablet */
	--header-tablet-nav-height: 80px;

	/* Mobile */
	--header-mobile-textcolor: #101828;
	--header-mobile-bgcolor: white;

	--header-mobile-l1-textcolor: #101828;
	--header-mobile-l1-bgcolor: #ECECEC;
	--header-mobile-l1-bordercolor: #00000025;

	--header-mobile-l2-textcolor: #101828;
	--header-mobile-l2-bgcolor: white;
	--header-mobile-l2-bordercolor: #00000015;
	--header-mobile-l2-active-textcolor: white;
	--header-mobile-l2-active-bgcolor: #00BBFF;

	--header-mobile-language-textcolor: #101828;
	--header-mobile-language-bgcolor: #000;
	--header-mobile-language-bordercolor: white;
	--header-mobile-language-iconcolor: white;

	--header-mobile-iconcolor: #101828;
	--header-mobile-burgercolor: #101828;
}



/*------------------------------------------------------------------------------------------------
	Header Desktop
------------------------------------------------------------------------------------------------*/
header.desktop {
	@apply left-1/2 -translate-x-1/2 fixed top-0 bg-[var(--header-desktop-bgcolor)];

	div#navigation {
		@apply relative md:h-[var(--header-tablet-nav-height)] lg:h-[var(--header-desktop-nav-height)];
		transition: height 0.3s cubic-bezier(.4,0,.2,1);

		a.logo img {
			@apply flex-none block absolute top-0 left-0 md:left-4 lg:left-6 xl:left-8 z-30 w-[100px] h-[100px] mt-[5px] lg:w-[126px] lg:h-[126px] lg:mt-[10px];
			transition: width 0.4s cubic-bezier(.4,0,.2,1), height 0.4s cubic-bezier(.4,0,.2,1), border-radius 0.4s cubic-bezier(.4,0,.2,1);
		}
	}

	nav {
		@apply font-semibold;

		div.navitem {
			@apply relative h-[var(--header-tablet-nav-height)] lg:h-[var(--header-desktop-nav-height)];
			transition: height 0.3s cubic-bezier(.4,0,.2,1);
			/*
			&:nth-child(4), &:nth-child(5) {
				div.flyout {
					@apply right-0 left-auto lg:right-auto lg:left-0;
				}
			}
			*/
			.item {
				@apply h-full pb-[10px] flex no-underline text-[var(--header-desktop-textcolor)] whitespace-nowrap;
				align-items: var(--header-desktop-nav-postion);

				&:hover, &:active {
					@apply cursor-pointer;
				}

				&.open div.flyout {
					display: block;
				}
			}
			div.flyout {
				@apply hidden absolute -left-[15px] top-full z-30 text-base text-[var(--header-flyout-textcolor)] bg-[var(--header-flyout-bgcolor)] shadow-lg;
				width: max-content;
				min-width: 200px;

				a {
					@apply block px-4 py-3 text-[var(--header-flyout-textcolor)] border-t-[var(--header-flyout-bordercolor)];
				}
			}
			&.language {
				svg.globe {
					@apply w-[20px] h-[20px] lg:w-[24px] lg:h-[24px];
				}
				div.flyout {
					@apply w-auto min-w-0 left-auto -right-[15px];

					a {
						@apply relative block pr-[15px] pl-[32px];

						&:first-child {
							@apply border-t-0;
						}
						svg {
							@apply absolute top-[16px] left-[10px] w-4 h-4;
						}
						span.active {
							@apply font-bold;
						}
					}
				}
			}
		}
	}
}



/*------------------------------------------------------------------------------------------------
	Header Mobile
------------------------------------------------------------------------------------------------*/
header.mobile {
	@apply bg-[var(--header-mobile-bgcolor)] text-[var(--header-mobile-textcolor)] fill-[var(--header-mobile-textcolor)];

	nav {
		@apply hidden bg-[var(--header-mobile-l1-bgcolor)];

		a {
			@apply no-underline text-[var(--header-mobile-l1-textcolor)];
		}

		ul {
			&.l1 {
				li {
					a, div.flex {
						@apply border-t-[var(--header-mobile-l1-bordercolor)];
					}
					div span svg {
						@apply hidden w-4 h-4 fill-[var(--header-mobile-iconcolor)];
					}

					div span svg.plus,
					&.open div span svg.minus {
						@apply block;
					}

					&.open div span svg.plus {
						@apply hidden;
					}
				}
			}

			&.l2 {
				@apply hidden bg-[var(--header-mobile-l2-bgcolor)];

				li {
					@apply border-[var(--header-mobile-l2-bordercolor)];

					a {
						@apply text-[var(--header-mobile-l2-textcolor)] font-normal;
					}

					&.active a {
						@apply font-bold;
					}
				}
			}
		}
	}

	div.language  {
		@apply bg-[var(--header-mobile-language-bgcolor)] text-[var(--header-mobile-language-textcolor)] fill-[var(--header-mobile-language-textcolor)] border-[var(--header-mobile-language-bordercolor)];

		svg.globe {
			@apply mr-2 fill-[var(--header-mobile-language-iconcolor)];
		}
	}

	.burger {
		@apply relative float-left h-[40px] w-[28px] cursor-pointer transition-[0.3s];

		span {
			@apply absolute h-[3px] w-[25px] bg-[var(--header-mobile-burgercolor)] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-[0.3s];

			&:before, &:after {
				@apply content-[''] absolute bg-[var(--header-mobile-burgercolor)] h-[3px] w-[25px] transition-[0.3s];
			}
			&:before {
				@apply top-[-8px];
			}
			&:after {
				@apply top-[8px];
			}
		}
		&.open span {
			@apply bg-transparent;

			&:before {
				@apply rotate-[45deg] top-0;
			}
			&:after {
				@apply rotate-[-45deg] top-0;
			}
		}
		+ a {
			@apply inline-block text-[19px] leading-[50px];
		}
	}
}


/*------------------------------------------------------------------------------------------------
	Main
------------------------------------------------------------------------------------------------*/
main {
	@apply md:pt-[var(--header-tablet-nav-height)] lg:pt-[var(--header-desktop-nav-height)];
}