/*------------------------------------------------------------------------------------------------
	Data Attributes
------------------------------------------------------------------------------------------------*/
[data-align="left"] {
	text-align: left;
}
[data-align="center"] {
	text-align: center;
}
[data-align="right"] {
	text-align: right;
}
