/*------------------------------------------------------------------------------------------------
	Slideshow
------------------------------------------------------------------------------------------------*/
[data-field="slideshow"] {

	/* Sizes */
	img { width: 100%; height: auto; }
	&[data-size="small"] { max-width: 480px; }
	&[data-size="medium"] { max-width: 720px; }
	&[data-size="large"] { max-width: 960px; }
	&[data-size="full"] { max-width: 100%; }

	/* Alignment */
	&[data-align="left"] { margin-right: auto; }
	&[data-align="center"] { margin-left: auto; margin-right: auto; }
	&[data-align="right"] { margin-left: auto; }

	/* Swiper Core */
	.swiper {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		list-style: none;
		padding: 0;
		z-index: 1;
		display: block;
	}
	.swiper-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		transition-property: transform;
		transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
		box-sizing: content-box;
		transform: translate3d(0px, 0, 0);
	}
	.swiper-horizontal {
		touch-action: pan-y;
	}
	.swiper-slide {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		position: relative;
		transition-property: transform;
		display: block;
	}

	/* Swiper Pagination */
	.swiper-pagination {
		position: absolute;
		text-align: center;
		transition: 300ms opacity;
		transform: translate3d(0, 0, 0);
		z-index: 10;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		display: inline-block;
		border-radius: 50%;
		background: var(--swiper-pagination-bullet-inactive-color, #000);
		opacity: 0.3;
		margin: 0 4px;
		cursor: pointer;
	}
	button.swiper-pagination-bullet {
		border: none;
		margin: 0 4px;
		padding: 0;
		box-shadow: none;
		appearance: none;
	}
	.swiper-pagination-bullet:only-child {
		display: none !important;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		background: var(--pw-color-primary, #333);
	}

	/* Swiper a11y */
	.swiper .swiper-notification {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		opacity: 0;
		z-index: -1000;
	}
}
