/*------------------------------------------------------------------------------------------------
	Image
------------------------------------------------------------------------------------------------*/
[data-field="image"] {

	/* Sizes */
	img { width: 100%; height: auto; }
	&[data-size="xsmall"] { max-width: 25%; }
	&[data-size="small"] { max-width: 33%; }
	&[data-size="medium"] { max-width: 50%; }
	&[data-size="large"] { max-width: 75%; }
	&[data-size="fullscreen"] { max-width: 100%; }

	/* Alignment */
	&[data-align="left"] { margin-right: auto; }
	&[data-align="center"] { margin-left: auto; margin-right: auto; }
	&[data-align="right"] { margin-left: auto; }
}

/*------------------------------------------------------------------------------------------------
	Image Zoom
------------------------------------------------------------------------------------------------*/
figure > div .zoom-icon {
	position: absolute;
	right: -99999px;
	bottom: 0;
}

figure[data-zoom] {
	cursor: zoom-in;

	> div {
		position: relative;

		a.glightbox {
			display: block;
			width: 100%;
			height: 100%;
		}

		.zoom-icon {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			background-color: var(--pw-color-zoom-icon-background);
			padding: 0.5rem;
			color: white;
			line-height: 0;
			pointer-events: none;
		}
	}
}

/*------------------------------------------------------------------------------------------------
	GLightbox Overrides
------------------------------------------------------------------------------------------------*/
.goverlay {
	background: rgba(0, 0, 0, 0.9) !important;
}

.gfadeIn {
	animation-duration: 0.2s !important;
}

.gfadeOut {
	animation-duration: 0.15s !important;
}

.gslide-description {
	background: transparent !important;
}

.gdesc-inner {
	color: white !important;
}

.gslide-title {
	color: white !important;
}
