/*------------------------------------------------------------------------------------------------
	Pagewizard Color Definitions

	Color VALUES (CSS variables) are defined in config/colors.json and injected
	via projectbuilder.php. This file only contains the CSS RULES that use those variables.
------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------
	Default colors definitions
------------------------------------------------------------------------------------------------*/
section[data-block]{
	background-color: var(--block-background);

	/* -------------- Links --------------*/
	a {
		color: var(--block-link);

		&:hover {
			color: var(--block-link-hover);
		}
		&:active {
			color: var(--block-link-active);
		}
	}

	/* -------------- Heading --------------*/
	[data-field="heading"] {
		color: var(--element-heading-text);
	}

	/* -------------- Tagline --------------*/
	[data-field="tagline"] {
		color: var(--element-tagline-text);
	}

	/* -------------- Editor --------------*/
	[data-field="textarea"],
	[data-field="writer"],
	[data-field="markdown"],
	[data-field="text"] {
		color: var(--element-editor-text);
	}

	/* -------------- Icon --------------*/
	[data-field="icon"] svg {
		fill: var(--element-icon-fill);
	}

	/* -------------- Caption --------------*/
	[data-field="caption"] {
		color: var(--element-caption-text);
	}

	/* -------------- Quote --------------*/
	[data-field="quote"] {
		color: var(--element-quote-text);
	}

	/* -------------- Cite --------------*/
	[data-field="cite"] {
		color: var(--element-cite-text);
	}

	/* -------------- Breadcrumb --------------*/
	[data-field="breadcrumb"] {
		color: var(--element-breadcrumb-text);

		a:hover {
			color: var(--element-breadcrumb-text-hover);
		}
		a:active {
			color: var(--element-breadcrumb-text-active);
		}
	}

	/* -------------- Media --------------*/
	figure[data-ratio] > div {
		background: var(--element-media-background);
	}
	figure[data-zoom] > div .zoom-icon {
		color: var(--element-image-zoom);
		background-color: var(--element-image-zoom-background);
	}
	[data-field="slideshow"] {
		.swiper-pagination-bullet {
			background: var(--element-slideshow-bullet);
		}
		.swiper-pagination-bullet-active {
			background: var(--element-slideshow-bullet-active);
		}
	}

	/* -------------- Button --------------*/
	[data-field="button"] a {
		color: var(--element-button-text);
		background-color: var(--element-button-background);
		border-color: var(--element-button-border);

		&:hover {
			color: var(--element-button-text-hover);
			background-color: var(--element-button-background-hover);
			border-color: var(--element-button-border-hover);
		}
		&:active {
			color: var(--element-button-text-active);
			background-color: var(--element-button-background-active);
			border-color: var(--element-button-border-active);
		}
	}
}


/*------------------------------------------------------------------------------------------------
	Variant color definitions (overwrites default colors when variant style is active)
------------------------------------------------------------------------------------------------*/
section[data-block][data-style="variant"] {
	background-color: var(--block-background-variant);

	/* -------------- Links --------------*/
	a {
		color: var(--block-link-variant);

		&:hover {
			color: var(--block-link-hover-variant);
		}
		&:active {
			color: var(--block-link-active-variant);
		}
	}

	/* -------------- Heading --------------*/
	[data-field="heading"] {
		color: var(--element-heading-text-variant);
	}

	/* -------------- Tagline --------------*/
	[data-field="tagline"] {
		color: var(--element-tagline-text-variant);
	}

	/* -------------- Editor --------------*/
	[data-field="textarea"],
	[data-field="writer"],
	[data-field="markdown"],
	[data-field="text"] {
		color: var(--element-editor-text-variant);
	}

	/* -------------- Icon --------------*/
	[data-field="icon"] svg {
		fill: var(--element-icon-fill-variant);
	}

	/* -------------- Caption --------------*/
	[data-field="caption"] {
		color: var(--element-caption-text-variant);
	}

	/* -------------- Quote --------------*/
	[data-field="quote"] {
		color: var(--element-quote-text-variant);
	}

	/* -------------- Cite --------------*/
	[data-field="cite"] {
		color: var(--element-cite-text-variant);
	}

	/* -------------- Breadcrumb --------------*/
	[data-field="breadcrumb"] {
		color: var(--element-breadcrumb-text-variant);

		a:hover {
			color: var(--element-breadcrumb-text-hover-variant);
		}
		a:active {
			color: var(--element-breadcrumb-text-active-variant);
		}
	}

	/* -------------- Media --------------*/
	figure[data-ratio] > div {
		background: var(--element-media-background-variant);
	}
	figure[data-zoom] > div .zoom-icon {
		color: var(--element-image-zoom-variant);
		background-color: var(--element-image-zoom-background-variant);
	}
	[data-field="slideshow"] {
		.swiper-pagination-bullet {
			background: var(--element-slideshow-bullet-variant);
		}
		.swiper-pagination-bullet-active {
			background: var(--element-slideshow-bullet-active-variant);
		}
	}
}

/* -------------- Button --------------*/
section[data-block][data-style="variant"],
section[data-block][data-style="custom"][data-button-style="variant"] {

	[data-field="button"] a {
		color: var(--element-button-text-variant);
		background-color: var(--element-button-background-variant);
		border-color: var(--element-button-border-variant);

		&:hover {
			color: var(--element-button-text-hover-variant);
			background-color: var(--element-button-background-hover-variant);
			border-color: var(--element-button-border-hover-variant);
		}
		&:active {
			color: var(--element-button-text-active-variant);
			background-color: var(--element-button-background-active-variant);
			border-color: var(--element-button-border-active-variant);
		}
	}
}


/*------------------------------------------------------------------------------------------------
	Variant 2 color definitions
------------------------------------------------------------------------------------------------*/
section[data-block][data-style="variant2"] {
	background-color: var(--block-background-variant2);

	/* -------------- Links --------------*/
	a {
		color: var(--block-link-variant2);

		&:hover {
			color: var(--block-link-hover-variant2);
		}
		&:active {
			color: var(--block-link-active-variant2);
		}
	}

	/* -------------- Heading --------------*/
	[data-field="heading"] {
		color: var(--element-heading-text-variant2);
	}

	/* -------------- Tagline --------------*/
	[data-field="tagline"] {
		color: var(--element-tagline-text-variant2);
	}

	/* -------------- Editor --------------*/
	[data-field="textarea"],
	[data-field="writer"],
	[data-field="markdown"],
	[data-field="text"] {
		color: var(--element-editor-text-variant2);
	}

	/* -------------- Icon --------------*/
	[data-field="icon"] svg {
		fill: var(--element-icon-fill-variant2);
	}

	/* -------------- Caption --------------*/
	[data-field="caption"] {
		color: var(--element-caption-text-variant2);
	}

	/* -------------- Quote --------------*/
	[data-field="quote"] {
		color: var(--element-quote-text-variant2);
	}

	/* -------------- Cite --------------*/
	[data-field="cite"] {
		color: var(--element-cite-text-variant2);
	}

	/* -------------- Breadcrumb --------------*/
	[data-field="breadcrumb"] {
		color: var(--element-breadcrumb-text-variant2);

		a:hover {
			color: var(--element-breadcrumb-text-hover-variant2);
		}
		a:active {
			color: var(--element-breadcrumb-text-active-variant2);
		}
	}

	/* -------------- Media --------------*/
	figure[data-ratio] > div {
		background: var(--element-media-background-variant2);
	}
	figure[data-zoom] > div .zoom-icon {
		color: var(--element-image-zoom-variant2);
		background-color: var(--element-image-zoom-background-variant2);
	}
	[data-field="slideshow"] {
		.swiper-pagination-bullet {
			background: var(--element-slideshow-bullet-variant2);
		}
		.swiper-pagination-bullet-active {
			background: var(--element-slideshow-bullet-active-variant2);
		}
	}
}

/* -------------- Button (Variant 2) --------------*/
section[data-block][data-style="variant2"],
section[data-block][data-style="custom"][data-button-style="variant2"] {

	[data-field="button"] a {
		color: var(--element-button-text-variant2);
		background-color: var(--element-button-background-variant2);
		border-color: var(--element-button-border-variant2);

		&:hover {
			color: var(--element-button-text-hover-variant2);
			background-color: var(--element-button-background-hover-variant2);
			border-color: var(--element-button-border-hover-variant2);
		}
		&:active {
			color: var(--element-button-text-active-variant2);
			background-color: var(--element-button-background-active-variant2);
			border-color: var(--element-button-border-active-variant2);
		}
	}
}