/*------------------------------------------------------------------------------------------------
	Footer Definitions

	Override: Activate patch file site/patches/css/kirby-pagewizard/_footer.css
------------------------------------------------------------------------------------------------*/


:root {
	--footer-textcolor: #ffffff;
	--footer-bgcolor: #1D548B;
}

footer {
	color: var(--footer-textcolor);
	background-color: var(--footer-bgcolor);
	padding: 1rem 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	 > div {
		@apply flex gap-8 px-3 mx-auto md:px-4 lg:px-6 xl:px-8 max-w-7xl;

		[data-type="address"] {
			@apply text-sm shrink-0 flex flex-col items-start gap-3;

			a.logo img {
				width: auto;
			}
			[data-type="name"] {
				font-weight: bold;

				+ div {
					margin-top: .3em;
				}
			}
			[data-type="phonenumbers"] {
				display: flex;
				flex-direction: column;
				gap: .1em;
				margin-top: 1em;
			}
		}

		[data-type="items"] {
			@apply flex flex-1 gap-8;

			[data-type="category"] {
				font-weight: bold;
			}
			[data-type="item"]{
				@apply mt-1;
			}
		}
	}
}