/*------------------------------------------------------------------------------------------------
	Video
------------------------------------------------------------------------------------------------*/
[data-field="video"] {

	/* Sizes */
	video, iframe { width: 100%; height: auto; }
	&[data-size="xsmall"] { max-width: 25%; }
	&[data-size="small"] { max-width: 33%; }
	&[data-size="medium"] { max-width: 50%; }
	&[data-size="large"] { max-width: 75%; }
	&[data-size="fullscreen"] { max-width: 100%; }

	/* Alignment */
	&[data-align="left"] { margin-right: auto; }
	&[data-align="center"] { margin-left: auto; margin-right: auto; }
	&[data-align="right"] { margin-left: auto; }
}
