/*------------------------------------------------------------------------------------------------
	Crop & Ratio
------------------------------------------------------------------------------------------------*/
figure[data-ratio] > div {
	overflow: hidden;

	img, video {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

figure[data-crop="cover"] > div {
	img, video {
		object-fit: cover;
	}
}

figure[data-ratio="1/1"] > div { aspect-ratio: 1 / 1; }
figure[data-ratio="16/9"] > div { aspect-ratio: 16 / 9; }
figure[data-ratio="10/8"] > div { aspect-ratio: 10 / 8; }
figure[data-ratio="21/9"] > div { aspect-ratio: 21 / 9; }
figure[data-ratio="7/5"] > div { aspect-ratio: 7 / 5; }
figure[data-ratio="4/3"] > div { aspect-ratio: 4 / 3; }
figure[data-ratio="5/3"] > div { aspect-ratio: 5 / 3; }
figure[data-ratio="3/2"] > div { aspect-ratio: 3 / 2; }
figure[data-ratio="3/1"] > div { aspect-ratio: 3 / 1; }
