div.k-blocks {
	background-color: transparent !important;
	box-shadow: none !important;
}
div.k-block-container {
	border-bottom: 0 !important;
	margin-bottom: var(--spacing-1);
	padding: 0;
	box-shadow: var(--shadow);

	&[data-selected="true"] {
		div.pwPreview div.blockinfo div {
			display: flex;
			gap: var(--spacing-1);
		}
		&[data-hidden="true"] div.pwPreview div.blockinfo div {
			display: none;
		}
	}
	.ishidden {
		opacity:.25;
	}

	div.pwPreview {
		position: relative;
		border-radius: var(--rounded) !important;

		.placeholder {
			font-weight: var(--font-normal);
			color: var(--input-color-placeholder);
		}
		.linktext {
			display: inline-flex;
			align-items: center;
			gap: var(--spacing-1);

			.k-icon {
				color: var(--color-text-dimmed);
			}
		}

		.items {
			padding: var(--spacing-2) 0;
		}
	}
}



/* Add custom Panel tags */
span.tag.screensize {
	display: inline-flex;
  padding-inline: var(--spacing-1);
  font-size: var(--text-xs);
	background: var(--color-yellow-300);
  border-radius: var(--rounded);
	color: light-dark(var(--color-yellow-800),var(--color-yellow-900));
  outline: 1px solid light-dark(var(--color-yellow-500),var(--color-yellow-900));
  outline-offset: -1px;
}


/* Extend Kirby field headline with class property */
.k-headline-field.subheadline {
	padding-top: 0;
	h2.k-headline {
		font-size: var(--text-lg);
	}
}
/* Extend Kirby field line with class property */
.k-line-field.small {
	height: 2px;
}

/* Patch Kirby Background color for empty files field */
.k-box.k-empty {
	background-color: light-dark(var(--color-gray-250),var(--color-gray-950));
}

/* Hide Grid tab if set */
.k-form-drawer.hide-layout-tab nav.k-drawer-tabs button[aria-label="Grid"] {
	display: none !important;
}

/* Grid settings */
.pwGrid {
  display: block;
	padding: var(--spacing-3);
	border-radius: var(--rounded) !important;

	.pwGridItem {
		display: block;
	}
}
@media (min-width: 640px) {
  .pwGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
		padding: 0;
		background-color: light-dark(var(--color-gray-250), var(--menu-color-back));
		gap: 1rem;

		.pwGridItem {
			padding: var(--spacing-3);
			border-radius: var(--rounded) !important;
			background-color: var(--block-color-back);
			grid-column: var(--grid-start-sm) / span var(--grid-span-sm);
		}
	}
}
@media (min-width: 768px){.pwGrid .pwGridItem { grid-column: var(--grid-start-md) / span var(--grid-span-md);}}
@media (min-width: 1024px){.pwGrid .pwGridItem { grid-column: var(--grid-start-lg) / span var(--grid-span-lg);}}
@media (min-width: 1280px){.pwGrid .pwGridItem { grid-column: var(--grid-start-xl) / span var(--grid-span-xl);}}